<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>

<title>Proyecto Final</title>
</head>
<body>
<style>
		body{
		background-image:url('https://i.pinimg.com/originals/55/2c/ee/552ceeb7ca385b6203f9ce2574355d28.jpg') 
		}
	</style>


<h1>Proyecto Final de Embebidos</h1>
<h1>Ingenieria en Telecomunicaciones</h1>
<h1>GrupoN8: Abril Jessica, Cajas Andres, Romero Erik, Saigua Andres</h1>

<img id="imagen1" src="https://d1yjjnpx0p53s8.cloudfront.net/logounach-01.jpg" alt="user">
<h1></h><h id="sensor">--</h1>

<button onclick="alert('Acolite Inge')">
PRESIONAR
</button>

<script>

</script>
<script src="/static/js/index.js"></script>
</body>
</html>
