<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>

<title>Proyecto Final</title>
</head>
<body>
<style>
		body{
		background-image:url('https://i.pinimg.com/originals/eb/87/61/eb876184f5d6fbdaf5cf8adc340b64bd.jpg') 
		}
	</style>

<center>
<h1 style="color:white;">PROYECTO DE EMBEBIDOS</h1>
<h1 style="color:white;">Ingenieria en Telecomunicaciones</h1>
<h1 style="color:white;">GrupoN8: Abril Jessica, Cajas Andres, Romero Erik, Saigua Andres</h1>


<img id="imagen1" src="https://yt3.ggpht.com/ytc/AKedOLTR2yls6O_MIB2B8HSY22-3AmWkQTMAlm8E1sx_=s900-c-k-c0x00ffffff-no-rj" alt="user">
<h1 style="color:white;"></h><h id="sensor">--</h1>

<button onclick="alert('Gracias')">
PRESIONAR
</button>
</center>
<script>

</script>
<script src="/static/js/index.js"></script>
</body>
</html>
